@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Montserrat Light", sans-serif;
}

.round-image-container {
  width: 192px;
  height: 192px;
  background: #F6F6F6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.round-image-container .profile-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.caroussel .button-left,
.caroussel .button-right {
  padding: 3em;
}

.caroussel .image-wrapper {
  margin-bottom: 10px;
}

.caroussel .image-wrapper img.img_1 {
  width: 100%;
  cursor: default;
  object-fit: cover;
}

.caroussel .image-wrapper .button-left,
.caroussel .image-wrapper .button-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.caroussel .image-wrapper .button-left {
  left: 0;
  height: 10em;
}

.caroussel .image-wrapper .button-right {
  height: 10em;
  right: 0;
}

.caroussel .image-wrapper .image-number {
  position: absolute;
  padding-bottom: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
}

.star {
  padding: 1em;
}

.host-info-wrapper {
  display: flex;
  align-items: center;
  padding-top: 4em;
}

.titre1 {
  color: #ff6060;
  font-size: 56px;
  margin-right: auto;
}

.titre2 {
  font-size: 2em;
  color: #ff6060;
}

.text-container {
  color: #FF6060;
  font-size: 1.8em;
  padding-right: 2em;
}

.profile-pic-container {
  padding-right: 1em;
}

.tag-zone {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.note-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.content-wrapper .title-wrapper {
  padding-top: 1em;
  padding-left: 7em;
  padding-right: 7em;
}
.content-wrapper .titles-and-host-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%; /* Limiter la largeur maximale */
}
.content-wrapper .titles {
  flex: 1;
  line-height: 2em;
}
.content-wrapper .host-info {
  display: flex;
  align-items: center;
  max-width: 30%; /* Limiter la largeur maximale */
  flex-wrap: wrap;
}
.content-wrapper .text-and-pic {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 8em;
}
.content-wrapper .tag-and-note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  max-width: 100%; /* Limiter la largeur maximale */
}
.content-wrapper .caroussel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content-wrapper .caroussel .image-wrapper img {
  height: 100%;
  object-fit: cover;
}
.content-wrapper .caroussel .image-number {
  position: absolute;
  padding-bottom: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
}
.content-wrapper .tag-header {
  display: flex;
  align-items: center;
  background: #ff6060;
  border-radius: 2em;
  height: 25px;
}
.content-wrapper .tag-container {
  position: relative;
  z-index: 2;
  padding-right: 1em;
  border-radius: 10px;
  margin-bottom: 0px;
  font-size: 14px;
}

.collapse-wrapper {
  display: flex;
}

.collapse-container {
  flex: 0 0 50%;
  max-width: calc(50% - 10px);
  margin-right: 10px;
}

.dropdown-container.custom-dropdown-container {
  width: 82%;
  right: 0;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px;
  overflow: hidden;
  height: auto;
  margin-top: 3em;
}

@media (max-width: 767.98px) {
  .tag-title {
    font-size: 1.75em;
    text-align: center;
  }
  .titles {
    flex: 1;
    line-height: 1px;
  }
  .note-container {
    /* margin-left: auto; */
  }
  .content-wrapper .tag-header {
    display: flex;
    align-items: center;
    background: #ff6060;
    border-radius: 1em;
    height: 25px;
  }
  .star {
    padding: 0.5em;
    width: 2.5em;
  }
  .profile-pic-container {
    order: 2;
    padding-right: 0em;
    padding-top: 2em;
  }
  .collapse-wrapper {
    display: flex;
    flex-direction: column;
  }
  .collapse-container {
    max-width: 100%;
    flex: 0 0 50%;
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
  }
  .dropdown-container.custom-dropdown-container {
    width: 90%;
    right: 0;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px;
    overflow: hidden;
    height: auto;
    margin-top: 2em;
  }
  .content-wrapper .caroussel .image-wrapper .image-number {
    cursor: default;
    position: absolute;
    padding-bottom: 0em;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    font-size: 1em;
  }
  .caroussel .image-wrapper .button-left {
    left: 2vw;
    height: 24px;
    width: 24px;
  }
  .caroussel .button-left,
  .caroussel .button-right {
    padding: 16px;
  }
  .content-wrapper .title-wrapper {
    padding-top: 0em;
    padding-left: 16px;
  }
  .host-info-wrapper {
    display: flex;
    align-items: center;
    padding-top: 0em;
  }
  .titre1 {
    color: #ff6060;
    font-size: 18px;
    margin-right: auto;
    padding-left: 0px;
  }
  h2.titre2 {
    font-size: 1em;
    color: #ff6060;
  }
  .content-wrapper .title-wrapper {
    padding-top: 0em;
    padding-left: 16px;
  }
  .content-wrapper .tag-container {
    position: relative;
    z-index: 2;
    padding-right: 0em;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-top: 0em;
    font-size: 12px;
  }
  .equipement-name {
    font-size: 1em;
    color: #FF6060;
  }
  .text-container {
    padding-top: 1.5em;
    padding-right: 0em;
    order: 1;
    margin-right: 10px;
    color: #FF6060;
    font-size: 1.25em;
    width: 93px;
  }
}
.content-wrapper .host-info {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .note-container {
    margin-left: initial;
  }
}

/*# sourceMappingURL=FicheLogement.css.map */
