.background {
    position: relative;
    width: calc(100% - 170px); // Ajustez la largeur en fonction de la largeur du header et de la marge
    height: 32em; // Ajustez la hauteur selon vos besoins
    border-radius: 25px;
    overflow: hidden;
    padding-left: 100px; /* Ajout de padding pour centrer le contenu */
    padding-top: 100px;
}

.background-image {
    width: 100%;
    height: 100%; // Ajustez la hauteur de l'image selon vos besoins
    object-fit: cover;
    filter: brightness(0.7);
    border-radius: 25px;
}



.content {
    position: absolute;
    top: 65%; /* Ajustez cette valeur pour déplacer le texte verticalement */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Centrez le texte horizontalement */
    color: white;
}


.content h2 {
    font-family: Montserrat;
    font-size: 4em;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    margin: 0;
}

