@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import '_variables.scss'; // Assurez-vous que le chemin d'importation est correct
@import '_mixins.scss';

* {
    font-family: 'Montserrat Light', sans-serif;
}

//Mettre les styles pour desktop ici :
.HomeBanner {
    position: relative;
    width: calc(100% - 170px); // Ajustez la largeur en fonction de la largeur du header et de la marge
    height: 32em; // Ajustez la hauteur selon vos besoins
    border-radius: 25px;
    overflow: hidden;
    padding-left: 100px;
    /* Ajout de padding pour centrer le contenu */
    padding-top: 100px;
}

.HomeBannerImage {
    width: 100%;
    height: 100%; // Ajustez la hauteur de l'image selon vos besoins
    object-fit: cover;
    filter: brightness(0.7);
    border-radius: 25px;
}

.content {
    position: absolute;
    top: 65%;
    /* Ajustez cette valeur pour déplacer le texte verticalement */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* Centrez le texte horizontalement */
    color: white;
}


.content h2 {
    font-family: 'Montserrat Light', sans-serif;
    font-size: 4em;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    margin: 0;
}

@include respond-to('mobile') {
    .content h2 {
        font-size: 2em;
        font-weight: 500;
        line-height: 250px;
        height: 5.5em;
        width: 10em;
        margin: 0;
    }
    .HomeBanner {
        position: relative;
        width: 96%;
        height: 111px;
        border-radius: 9px;
        overflow: hidden;
        padding-left: 16px;
        padding-top: 0em;
    }
    .HomeBannerImage {
        width: 100%;
        height: 100%; // Ajustez la hauteur de l'image selon vos besoins
        object-fit: cover;
        filter: brightness(0.7);
        border-radius: 10px;
    }

    .AboutBanner {
        position: relative;
        width: 95%;
        height: 20em;
        border-radius: 0px;
        overflow: hidden;
        padding-left: 22px;
        padding-top: 0px;
    }
    .AboutBannerImage {
        width: 100%;
        height: 100%; // Ajustez la hauteur de l'image selon vos besoins
        object-fit: cover;
        filter: brightness(0.7);
        border-radius: 10px;
    }
}