@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Montserrat Light', sans-serif;
}
.HomeBanner {
    position: relative;
    width: calc(70% - -96px);
    height: 10em;
    border-radius: 25px;
    overflow: hidden;
    padding-left: 18px;
    padding-top: 49px;
}
.AboutBanner {
    position: relative;
    width: 95%;
    height: 20em;
    border-radius: 0px;
    overflow: hidden;
    padding-left: 22px;
    padding-top: 0px;
}

.HomeBannerImage {
    width: 100%;
    height: 100%; // Ajustez la hauteur de l'image selon vos besoins
    object-fit: cover;
    filter: brightness(0.7);
    border-radius: 25px;
}
.AboutBannerImage {
    width: 100%;
    height: 100%; // Ajustez la hauteur de l'image selon vos besoins
    object-fit: cover;
    filter: brightness(0.7);
    border-radius: 25px;
}


.content {
    position: absolute;
    top: 65%; /* Ajustez cette valeur pour déplacer le texte verticalement */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Centrez le texte horizontalement */
    color: white;
}


.content h2 {
    font-family: 'Montserrat Light', sans-serif;
    font-size: 4em;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    margin: 0;
}

