// FicheLogement.scss

@font-face {
  font-family: 'Montserrat Light';
  src: url('../fonts/Montserrat-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import '_variables.scss';
@import '_mixins.scss';

* {
  font-family: 'Montserrat Light', sans-serif;
}

.round-image-container {
  width: 64px;
  height: 64px;
  background: #C4C4C4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;

  .profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.caroussel {
  .button-left,
  .button-right {
    padding: 3em;
  }
}

.caroussel .image-wrapper {
  margin-bottom: 10px;
}

.caroussel .image-wrapper img.img_1 {
  width: 100%;
  cursor: default;
  object-fit: cover;
}

.caroussel .image-wrapper .button-left,
.caroussel .button-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.caroussel .image-wrapper .button-left {
  left: 0;
  height: 10em;
}

.caroussel .image-wrapper .button-right {
  height: 10em;
  right: 0;
}

.caroussel .image-wrapper .image-number {
  position: absolute;
  padding-bottom: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
}

.star {
  padding: 1em;
}

.host-info-wrapper {
  display: flex;
  align-items: center;
  padding-top: 4em;
}
.titles {
  width: 70%;
  line-height: 5em;
}
.titre1 {
  color: #ff6060;
  font-size: 3vw; /* Adjusted for responsiveness */
  margin-right: auto;
}

.titre2 {
  font-size: 1.5vw; /* Adjusted for responsiveness */
  color: #ff6060;
}

.text-container {
  color: #FF6060;
  font-size: 1.5vw; /* Adjusted for responsiveness */
  padding-right: 3em;
  padding-top: 0em;
}

.tag-zone {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.note-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 11em;
}

.content-wrapper {
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 4em;
    padding-left: 3%;
    padding-right: 1%;
    width: 100%;
    margin: 0 auto;
  }

  .Titre_Description_Tags {
    flex: 1;
    line-height: 1.5em;
  }

  .Profil_Note {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 25%;
    padding-right: 2em;
  }

  .host-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .text-and-pic {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .tag-and-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    max-width: 100%;
  }

  .caroussel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .image-wrapper img {
      height: 100%;
      object-fit: cover;
    }

    .image-number {
      position: absolute;
      padding-bottom: 0em;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2em;
    }
  }

  .tag-header {
    display: flex;
    align-items: center;
    background: #ff6060;
    border-radius: 2em;
    height: 25px;
  }

  .tag-container {
    position: relative;
    z-index: 2;
    padding-right: 1em;
    border-radius: 10px;
    margin-bottom: 0px;
    font-size: 14px;
  }
}

.collapse-wrapper {
  display: flex;
}

.collapse-container {
  flex: 0 0 50%;
  max-width: calc(50% - 10px);
  margin-right: 10px;
}
.dropdown-container.custom-dropdown-container {
  width: 90%;
  right: 0;
  position: relative;
  bottom: 0;
  left: 52%;
  transform: translateX(-50%);
  padding: 0px;
  overflow: hidden;
  height: auto;
  margin-top: 3em;
}


@include respond-to('mobile') {
  .tag-title {
    font-size: 1.75em;
    text-align: center;
  }

  .titles {
    flex: 1;
    line-height: 1px;
  }

  .note-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .content-wrapper .tag-header {
    display: flex;
    align-items: center;
    background: #ff6060;
    border-radius: 1em;
    height: 25px;
  }

  .star {
    padding: 0.5em;
    width: 2.5em;
  }

  .profile-pic-container {
    padding-top: 4em;
    padding-right: 0;
  }

  .collapse-wrapper {
    display: flex;
    flex-direction: column;
  }

  .collapse-container {
    max-width: 100%;
    flex: 0 0 50%;
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
  }

  .dropdown-container.custom-dropdown-container {
    width: 90%;
    right: 0;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px;
    overflow: hidden;
    height: auto;
    margin-top: 2em;
  }

  .content-wrapper .caroussel .image-wrapper .image-number {
    cursor: default;
    position: absolute;
    padding-bottom: 0em;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    font-size: 1em;
  }

  .caroussel .image-wrapper .button-left {
    left: 2vw;
    height: 24px;
    width: 24px;
  }

  .caroussel .button-left,
  .caroussel .button-right {
    padding: 16px;
  }

  .content-wrapper .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
  }

  .host-info-wrapper {
    display: flex;
    align-items: center;
    padding-top: 0em;
  }

  .titre1 {
    color: #ff6060;
    font-size: 18px;
    margin-right: auto;
    padding-left: 0px;
  }

  h2.titre2 {
    font-size: 1em;
    color: #ff6060;
  }

  .content-wrapper .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 4em;
    padding-left: 0%;
    padding-right: 11%;
    width: 100%;
    margin: 0 auto;
}

  .content-wrapper .tag-container {
    position: relative;
    z-index: 2;
    padding-right: 0em;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-top: 0em;
    font-size: 12px;
  }

  .equipement-name {
    font-size: 1em;
    color: #FF6060;
  }

  .text-container {
    color: #FF6060;
    font-size: 1.8em;
    padding-right: 2em;
    padding-top: 2em;
  }
}

.content-wrapper .host-info {
  display: flex;
  align-items: center;
}

@include respond-to('tablet') {
  .note-container {
    margin-left: initial;
  }
}
