* {
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
header {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 68px;
    padding-left: 100px;
}

nav {
    width: auto;
    padding-top: 34px;
    padding-right: 10em; /* Changer le padding-right selon vos besoins */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 0px;
}

.logo img {
    width: 210.32px;
    height: 68px;
}

.menu {
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.menu-item {
    cursor: pointer;
    color: #FF6060;
    font-family: "Montserrat Light", sans-serif;
    font-size: 2em;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    margin: 0;
    padding: 0 0px;
    padding-top: 16px;
    padding-right: 0em;
    position: relative;
    text-decoration: none;
}

.menu-item + .menu-item {
    margin-left: 6em; /* Ajout d'un espace entre les éléments */
    margin-right: 5em;
}

.menu-item::before,
.menu-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ff6060;
    transition: width 0.5s ease;
}

.menu-item::before {
    left: 50%;
    transform: translateX(-50%);
}

.menu-item::after {
    right: 50%;
    transform: translateX(50%);
}

.menu-item:hover::before,
.menu-item:hover::after {
    width: calc(100% - 0px);
}
