// Home.scss

@import '_variables.scss'; // Assurez-vous que le chemin d'importation est correct
@import '_mixins.scss';

.background {
    position: relative;
    width: calc(100% - 170px);
    height: 32em;
    border-radius: 25px;
    overflow: hidden;
    padding-left: 100px;
    padding-top: 100px;
}



.content {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $white; // Utilisation de la variable définie
}

.content h2 {
    font-size: 5em;
    font-weight: 500;
    line-height: 250px;
    height: 3.5em;
    width: 16em;
    margin: 0;
}

.gallery {
    padding: 0px;
    margin: 6em 170px 6em 6em;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $light-gray; // Utilisation de la variable définie
    border-radius: 1.5em;
    overflow: hidden;
    padding-bottom: 1em;
}

.gallery-row {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0em 1em;
}
@include respond-to('mobile') {
    /*/.background-image {
        position: relative;
        width: calc(70% + 96px);
        height: 10em;
        border-radius: 25px;
        overflow: hidden;
        padding-left: 18px;
        padding-top: 50px;
    }/*/
}