.body {
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 1em;
}

.background {
    position: relative;
    width: 1660px;    /*width: 1240px;  Largeur selon Figma */
    height: 331px;    /*height: 223px;  Hauteur selon Figma */
    border-radius: 25px;
    overflow: hidden;
    padding: 3em 160px; /* Ajout de padding pour centrer le contenu */
}

.background-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(0.7);
    border-radius: 25px; /* Conserve les bordures arrondies */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
}

.content h2 {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    margin: 0;
}
