// Note.scss
// Note.scss
.star-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alignez les étoiles à droite */
    width: auto; /* Ajustez la largeur automatiquement en fonction du contenu */
    height: auto; /* Ajustez la hauteur automatiquement en fonction du contenu */
}


.star_full{
    width: 24.75px;
    height: 24px;
    /* top: 658px;  Commentez ces lignes */
    /* left: 1150px;  Commentez ces lignes */
}

.star_empty{
    width: 24.75px;
    height: 24px;
    /* top: 658px;  Commentez ces lignes */
    /* left: 1150px;  Commentez ces lignes */
}
