@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Montserrat Light', sans-serif;
}

.tag-title {
    font-size: 1.5em;
}

.tag-container {
    position: relative;
    z-index: 2;
    border-radius: 10px;
    margin-bottom: 20px;
}
.content-wrapper .tag-container {
    position: relative;
    z-index: 2;
    padding-right: 1em;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-top: 2em;
    font-size: 14px;
}
.tag-container.custom-tag-container {
    width: 82.50%;
    right: 0;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 3em;
    overflow: hidden;
    height: auto; // Permet au conteneur de s'ajuster dynamiquement en hauteur
}
.content-wrapper .caroussel .image-wrapper img.img_1 {
    width: 100%;
    padding-top: 0em;
}
.tag-header {
    width: 13em;
    padding: 2em;
    display: flex;
    height: 47px;
    align-items: center;
    justify-content: space-between;
    background: #FF6060;
    border-radius: 5px;
    height: 25px;
    top: 670px;
    left: 100px;
}

.tag-header .menu-title {
    color: #f5f5f5;
}

.tag-content {
    padding: 1em;
    overflow: hidden; // Assurez-vous que le contenu déborde correctement
}

.tag-container .tag-title {
    padding-left: 32px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 127px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
}
